/* =========================
   GLOBAL
========================= */

QWidget {
    background-color: #1e1e1e;
    color: #e0e0e0;
    font-family: "Arial", "Roboto", sans-serif;
    font-size: 13px;
}

/* =========================
   LABEL
========================= */

QLabel {
    color: #e0e0e0;
}

/* =========================
   BUTTON - DEFAULT
========================= */

QPushButton {
    background-color: #2d2d2d;
    color: #e0e0e0;
    border: 1px solid #3c3c3c;
    border-radius: 6px;
    padding: 6px 12px;
}

QPushButton:hover {
    background-color: #3a3a3a;
}

QPushButton:pressed {
    background-color: #252525;
}


/* =========================
   INPUT FIELD
========================= */

QLineEdit {
    background-color: #2a2a2a;
    border: 1px solid #3c3c3c;
    border-radius: 5px;
    padding: 5px;
}

QLineEdit:focus {
    border: 1px solid #0078d4;
}

/* =========================
   TABLE
========================= */

QTableView {
    background-color: #252526;
    gridline-color: #3c3c3c;
    border: none;
}

QHeaderView::section {
    background-color: #2d2d2d;
    padding: 4px;
    border: 1px solid #3c3c3c;
}

/* =========================
   SCROLLBAR
========================= */

QScrollBar:vertical {
    background: #1e1e1e;
    width: 10px;
}

QScrollBar::handle:vertical {
    background: #3c3c3c;
    border-radius: 4px;
}

QScrollBar::handle:vertical:hover {
    background: #555;
}

/* =========================
   PRIMARY (ana aksiyon)
========================= */

QPushButton[variant="primary"] {
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
}

QPushButton[variant="primary"]:hover {
    background-color: #1493ff;
}

QPushButton[variant="primary"]:pressed {
    background-color: #005fa3;
}


/* =========================
   TERTIARY (en düşük vurgu)
========================= */

QPushButton[variant="tertiary"] {
    background-color: transparent;
    color: #0078d4;
    border: none;
}

QPushButton[variant="tertiary"]:hover {
    text-decoration: underline;
}


/* =========================
   DANGER (riskli aksiyon)
========================= */

QPushButton[variant="danger"] {
    background-color: #d83b01;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
}

QPushButton[variant="danger"]:hover {
    background-color: #ff4d0f;
}

QPushButton[variant="danger"]:pressed {
    background-color: #a62e00;
}

/* =========================
   Data Table
========================= */

QTableView {
    background-color: #252526;
    gridline-color: #3c3c3c;
    border: none;
}

QHeaderView::section {
    background-color: #2d2d2d;
    padding: 4px;
    border: 1px solid #3c3c3c;
}
